---
import SavingsSimulator from '../components/SavingsSimulator';
import '../styles/global.css';

const title = 'Simulador de Ahorros';
const description = 'Simula el estado de tus ahorros en un intervalo de tiempo determinado';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="bg-gradient-to-br from-white via-gray-50 to-white min-h-screen">
    <SavingsSimulator client:load />
  </body>
</html>
